<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".database.TDList"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_done_all_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_done_all_24"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TDList"
        tools:targetApi="tiramisu"
        >

        <activity
            android:name=".splashscreen.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.RemoveSplashScreenTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onBoarding.GettingStarted"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".todo.ShowToDOs"
            android:exported="false"
            android:parentActivityName=".task.MainActivity"
            />

        <activity
            android:name=".task.MainActivity"
            android:exported="false"

            >
        </activity>
    </application>

</manifest>